.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url("../../assets/img/board.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-stack {
    position: relative;

    img{
        position: absolute;
        width: 10rem;

        @media (max-width: 450px) {
            width: 6rem;
        }


        @media (width: 320px) and (height: 568px) {
            width: 6rem;
            top: -4rem;
        }

        @media (width: 1024px) and (height: 600px) {
            width: 6rem;
        }

        @media (width: 1280px) and (height: 800px) {
            width: 7rem;
        }

        @media (width: 540px) and (height: 720px) {
            width: 7rem;
        }
    }

}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.played-card {
    transform: translateX(13rem) translateY(-13rem) rotate(-15deg) ;
    right: 20px;

    @media (max-width: 450px) {
        transform:  translateX(9rem) translateY(-13rem) rotate(-15deg) ;
    }

    @media (width: 320px) and (height: 568px) {
        transform:  translateX(9rem) translateY(-8rem) rotate(-15deg) ;
    }
   

    
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: translateX(13rem) translateY(-13rem) rotate(-15deg) ;

    @media (max-width: 450px) {
        transform:  translateX(9rem) translateY(-13rem) rotate(-15deg) ;
    }

    @media (width: 320px) and (height: 568px) {
        transform:  translateX(9rem) translateY(-8rem) rotate(-15deg) ;
    }
    

    
}



@media (min-width: 450px) {
    @keyframes pick-card-animation {
        0% {
            transform: scale(1) ;
        }
        30% {
            transform: scale(1.5) ;
        }
        50% {
            transform: scale(1.5) ;
        }
        100% {
            transform: translateX(13rem) translateY(-13rem) rotate(-15deg) ;
        }
        
    }

}

@media (max-width: 450px) {
    @keyframes pick-card-animation {
        0% {
            transform: scale(1) ;
        }
        30% {
            transform: scale(1.5) ;
        }
        50% {
            transform: scale(1.5) ;
        }
        100% {
            transform: translateX(9rem) translateY(-13rem) rotate(-15deg) ;
        }
        
    }

}

@media (width: 320px) and (height: 568px) {
    @keyframes pick-card-animation {
        0% {
            transform: scale(1) ;
        }
        30% {
            transform: scale(1.5) ;
        }
        50% {
            transform: scale(1.5) ;
        }
        100% {
            transform: translateX(9rem) translateY(-8rem) rotate(-15deg) ;
        }
        
    }

}



.player-position {
    position: absolute;
    right: 0;
    z-index: 1;
}

.btn-add {
    position: absolute;
    right: 32px;
    bottom: 32px;
    z-index: 1;

    @media (max-width: 720px) {
        bottom: 160px;
    }
}

.bottom-pin {
    position: absolute;
    left: 200px;
    right: 200px;
    bottom: 50px; 

    @media (max-width: 990px) {
        bottom: 15px;
    }

    @media (max-width: 720px) {
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
    
    @media (width: 1024px) and (height: 600px) {
        bottom: 20px;
    }
}

.scroll-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    app-player-mobile {
        margin-left: 8px;
    }
}

app-player, app-player-mobile {
    cursor: pointer;

    &:hover {
        filter: brightness(1.25);
    }
}

.gameOver {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    img {
        width: 100%;
    }
}

.preloadImage {
    opacity: 0;
    z-index: -999;
}