body {
    margin: 0;
    font-family: 'Cinzel', serif;
}

html, body { 
    height: 100%;
    overflow: hidden;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (max-width: 985px) {
    .hide-mobile {
        display: none;
    }
}

@media (min-width: 985px) {
    .hide-desktop {
        display: none !important;
    }
}

.mat-form-field-infix {
    @media (max-width: 290px) {
        width: auto !important;
    }
}

.mat-dialog-container {
    @media (max-width: 300px) {
        padding: 17px !important;
        overflow: hidden !important;
    }
}

.mat-card-content {
    text-align: center;
}
.mat-card-title {
    text-align: center;
}

.mat-fab {
    transition: all 225ms ease-in-out !important;
    &:hover {
        filter: brightness(1.5) !important;
    }
}
